<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="text-center mt-5 mb-5 text-primary">SISTEMA GESTIÓN INVENTARIO</h1>

    <div class="container">
        <!-- Navegación con pestañas en la parte superior -->
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="empresa-tab" data-bs-toggle="tab" data-bs-target="#empresa" type="button" role="tab" aria-controls="empresa" aria-selected="true">Empresa</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="inventario-tab" data-bs-toggle="tab" data-bs-target="#inventario" type="button" role="tab" aria-controls="inventario" aria-selected="false">Inventario</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="producto-tab" data-bs-toggle="tab" data-bs-target="#producto" type="button" role="tab" aria-controls="producto" aria-selected="false">Productos</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="proveedor-tab" data-bs-toggle="tab" data-bs-target="#proveedor" type="button" role="tab" aria-controls="proveedor" aria-selected="false">Proveedores</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pedido-tab" data-bs-toggle="tab" data-bs-target="#pedido" type="button" role="tab" aria-controls="producto" aria-selected="false">Pedidos</button>
            </li>
        </ul>

        <!-- Contenido de las pestañas -->
        <div class="tab-content" id="myTabContent">
            <!-- Pestaña EMPRESA -->
            <div class="tab-pane fade show active" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
                <div class="card shadow">
                    <div class="card-body">
                        <form action="/empresa" method="POST">
                            <div class="row mb-3">
                                <div class="col">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control mb-3" name="nombre">
                                </div>
                                <div class="col">
                                    <label>Dirección</label>
                                    <input type="text" class="form-control mb-3" name="direccion">
                                </div>
                                <div class="col">
                                    <label>CIF</label>
                                    <input type="text" class="form-control mb-3" name="cif">
                                </div>
                                <div class="col">
                                    <label>Email</label>
                                    <input type="text" class="form-control mb-3" name="email">
                                </div>
                                <div class="col">
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control mb-3" name="telefono">
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>  
                                </div>
                            </div>
                        </form>
        
                        <!-- Tabla-->
                        <table class="table table-bordered">
                            <thead>
                                <th scope = "col">#</th>
                                <th scope = "col">Nombre</th>
                                <th scope = "col">Dirección</th>
                                <th scope = "col">CIF</th>
                                <th scope = "col">Email</th>
                                <th scope = "col">Teléfono</th>
                                <th scope = "col">Edit</th>
                                <th scope = "col">Delete</th>
                            </thead>
                       
                            <tbody>
                                {% for d in empresaData %}
                                    <tr>
                                        <td>{{d.id_empresa}}</td>
                                        <td>{{d.nombre}}</td>
                                        <td>{{d.direccion}}</td>
                                        <td>{{d.cif}}</td>
                                        <td>{{d.email}}</td>
                                        <td>{{d.telefono}}</td>
                                        <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id_empresa}}" data-bs-toggle = "modal" data-bs-target="#modal{{d.id_empresa}}">Editar</button></td>
                                        <td><a href="{{url_for('delete', id=d.id_empresa)}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                                    </tr>
        
                                    <!-- Modal para editar empresa -->
        
                                    <div class="modal fade" id="modal{{d.id_empresa}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h1 class="modal-title fs-5" id="exampleModalLabel">{{d.nombre}}</h1>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              <form action="/edit/{{d.id_empresa}}" method="post">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control mb-3" name="nombre" value="{{d.nombre}}">
                                                <label>Dirección</label>
                                                <input type="text" class="form-control mb-3" name="direccion" value="{{d.direccion}}" >
                                                <label>CIF</label>
                                                <input type="text" class="form-control mb-3" name="cif" value="{{d.cif}}">
                                                <label>Email</label>
                                                <input type="text" class="form-control mb-3" name="email" value="{{d.email}}">
                                                <label>Teléfono</label>
                                                <input type="text" class="form-control mb-3" name="telefono" value="{{d.telefono}}">
        
                                            </div>
                                            <div class="modal-footer">
                                              <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                            </div>
                                        </form>
                                          </div>
                                        </div>
                                      </div>
                                {% endfor %}                        
                            </tbody>
                        </table>
                    </div>
                </div>   
            </div>
            
            <!-- Pestaña INVENTARIO -->
            <div class="tab-pane fade" id="inventario" role="tabpanel" aria-labelledby="inventario-tab">
                <!-- Aquí va el contenido CRUD para la tabla inventario -->
            </div>
            
            <!-- Pestaña PRODUCTOS (contenido para la tabla producto) -->
            <div class="tab-pane fade" id="producto" role="tabpanel" aria-labelledby="producto-tab">
                <!-- Aquí va el contenido CRUD para la tabla producto -->
            </div>

             <!-- Pestaña PROVEEDORES-->
             <div class="tab-pane fade" id="proveedor" role="tabpanel" aria-labelledby="proveedor-tab">
            </div>
        </div>
    </div>


    <script>
    function construirContenidoProveedores(proveedoresData) {
        let contenidoHtml = `
            <div class="card shadow">
                <div class="card-body">
                    <form id = "formAddProveedor" action="/proveedores" method="POST">
                        <div class="row mb-3">
                            <div class="col">
                                <label>Nombre</label>
                                <input type="text" class="form-control mb-3" name="nombre">
                            </div>
                            <div class="col">
                                <label>CIF</label>
                                <input type="text" class="form-control mb-3" name="cif">
                            </div>
                            <div class="col">
                                <label>Dirección</label>
                                <input type="text" class="form-control mb-3" name="direccion">
                            </div>
                            <div class="col">
                                <label>Teléfono</label>
                                <input type="text" class="form-control mb-3" name="telefono">
                            </div>
                            <div class="col">
                                <label>Email</label>
                                <input type="text" class="form-control mb-3" name="email">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary mb-3 mt-3" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>`;

        contenidoHtml += "<table class='table table-bordered'><thead><tr><th>#</th><th>Nombre</th><th>CIF</th><th>Dirección</th><th>Teléfono</th><th>Email</th><th>Editar</th><th>Eliminar</th></tr></thead><tbody>";

        proveedoresData.forEach((proveedor, index) => {
            contenidoHtml += `<tr>
                                <td>${index + 1}</td>
                                <td>${proveedor.nombre}</td>
                                <td>${proveedor.cif}</td>
                                <td>${proveedor.direccion}</td>
                                <td>${proveedor.telefono}</td>
                                <td>${proveedor.email}</td>
                                <td><button class="btn btn-primary btn-sm" id="btn-edit${proveedor.id_proveedor}" data-bs-toggle = "modal" data-bs-target="#modal${proveedor.id_proveedor}">Editar</button></td>
                                <td><button class="btn btn-danger btn-sm" onclick="eliminarProveedor('${proveedor.id_proveedor}')">Eliminar</button></td>
                              </tr>`;
        });

        contenidoHtml += "</tbody></table></div></div>";
        return contenidoHtml;
    }


    document.getElementById("proveedor-tab").addEventListener("click", function() {
        fetch('/proveedores')
            .then(response => response.json())
            .then(data => {
                let contenido = construirContenidoProveedores(data);
                document.getElementById("proveedor").innerHTML = contenido;
            })
            .catch(error => console.error('Error al cargar proveedores:', error));
    });

  // Función para ACTUALIZAR la tabla de proveedores
    function actualizarTablaProveedores() {
        fetch('/proveedores')
            .then(response => response.json())
            .then(data => {
                let contenido = construirContenidoProveedores(data);
                document.getElementById("proveedor").innerHTML = contenido;
            })
            .catch(error => console.error('Error al cargar proveedores:', error));
    }

    function eliminarProveedor(idProveedor) {
    if(confirm('¿Estás seguro de que deseas eliminar este proveedor?')) {
        fetch('/delete_proveedor/' + idProveedor, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                alert('Proveedor eliminado correctamente');
                actualizarTablaProveedores();
            } else {
                alert('Error al eliminar el proveedor: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al eliminar el proveedor');
        });
    }
}

    // Manejador de eventos para el botón de AÑADIR proveedor
    document.addEventListener('submit', function(e) {
        if (e.target && e.target.id === 'formAddProveedor') {
            e.preventDefault();

            var formData = new FormData(e.target);

            fetch('/proveedores', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if(data.success) {
                    alert(data.message);
                    actualizarTablaProveedores(); // Actualizar la tabla después de añadir
                } else {
                    alert('Error al añadir proveedor');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });

    function mostrarFormularioEdicion(idProveedor) {
    fetch('/proveedor/' + idProveedor)
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert('Error al cargar los datos del proveedor');
            } else {
                document.getElementById('editIdProveedor').value = data.id_proveedor;
                document.getElementById('editNombre').value = data.nombre;
                document.getElementById('editCif').value = data.cif;
                document.getElementById('editDireccion').value = data.direccion;
                document.getElementById('editTelefono').value = data.telefono;
                document.getElementById('editEmail').value = data.email;
                $('#modalEditarProveedor').modal('show');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al cargar los datos del proveedor');
        });
}


    document.getElementById('formEditarProveedor').addEventListener('submit', function(e) {
    e.preventDefault();
    const id = document.getElementById('editIdProveedor').value;
    const data = {
        nombre: document.getElementById('editNombre').value,
        cif: document.getElementById('editCif').value,
        direccion: document.getElementById('editDireccion').value,
        telefono: document.getElementById('editTelefono').value,
        email: document.getElementById('editEmail').value
    };

    fetch('/proveedor/' + id, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        if(data.success) {
            alert('Proveedor actualizado correctamente');
            $('#modalEditarProveedor').modal('hide');
            actualizarTablaProveedores(); // Actualiza la tabla
        } else {
            alert('Error al actualizar el proveedor: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error al actualizar el proveedor');
    });
});


</script>


    
        
</body>
</html>